body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  background-color: #6a5acd;
}

.calendar-container {
  background-color: #fff;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.3) ;
  overflow: hidden;
}

.month-name {
  margin: 0;
  background-color: #ff4500;
  color: #ffffff;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.day-name {
  font-size: 20px;
  color: #a9a9a9;
}

.day-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.year {
  margin: 20px 0;
  font-size: 20px;
  color: #a9a9a9;
  font-weight: 500;
}